@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .navcolor{
  background-color: #0d6efd;
} */

.navcolor{
  background-color: #ccecf4 !important;
}
.center {
  margin: auto;
  text-align: center; 
  align-items: center;
  
}

.bookafreecall {
  border-color: #0b5ed7;
  background-color: #000000;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
}
/* .containerhero{
  background-image: linear-gradient(#56b5f5, white) !important;
  padding-top: 5vw;

} */
.feature{
  /* background-color: rgb(245,246,247); */
  background-color: #ccecf4;
}

.introalexbg1{
  background-color: #ccecf4;
}


.wp-button{
  background-color: #54c796 !important;
  border-radius: 30px !important;
}

.freecall{
  border-radius: 30px !important;
  background-color: #28a4f4 !important;
}

.introaleximg{
  margin: auto !important;
  display: block !important;
}


.image-blurred-edge{
    box-shadow: 0 0 8px 8px white inset !important;
}